html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  text-align: center;
}

h2, h3 {
  text-align: left;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type='checkbox'] {
  position: absolute;
  left: -1rem;
  opacity: 0;
}

input[type='checkbox'] + label,
.rvt-checkbox-wrapper input[type='checkbox'] ~ label {
  font-size: 0.875rem;
  margin-left: .2rem;
  font-weight: 400;
}

input[type='checkbox'] + label::before,
.rvt-checkbox-wrapper input[type='checkbox'] ~ label::before {
  display: inline-block;
  content: ' ';
  border-radius: .125rem;
  margin-right: .5rem;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-shadow: 0 0 0 0.08rem #666666;
  box-shadow: 0 0 0 0.08rem #666666;
  vertical-align: bottom;
  margin-top: -.1rem;
}

input[type='checkbox'] + label:hover,
.rvt-checkbox-wrapper input[type='checkbox'] ~ label:hover {
  cursor: pointer;
}

input[type='checkbox']:checked + label::before,
.rvt-checkbox-wrapper input[type='checkbox']:checked ~ label::before {
  color: #ffffff;
  background-color: #006298;
  -webkit-box-shadow: 0 0 0 0.08rem #006298;
  box-shadow: 0 0 0 0.08rem #006298;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik02LjcyLDEzbC0uNDgtLjM2LTMtM0ExLDEsMCwwLDEsNC43MSw4LjI5bDIuMTEsMi4xMiw0LjMzLTYuOTRhMSwxLDAsMCwxLDEuNywxLjA2TDcuNjQsMTIuODdaIi8+Cjwvc3ZnPgo=");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:focus + label::before,
.rvt-checkbox-wrapper input[type='checkbox']:focus ~ label::before {
  -webkit-box-shadow: 0 0 0 0.08rem #666666, 0 0 0 0.1875rem #ffffff, 0 0 0 0.3125rem #006298;
  box-shadow: 0 0 0 0.08rem #666666, 0 0 0 0.1875rem #ffffff, 0 0 0 0.3125rem #006298;
}

input[type='checkbox']:disabled + label::before,
.rvt-checkbox-wrapper input[type='checkbox']:disabled ~ label::before {
  background-color: #dddddd;
  -webkit-box-shadow: 0 0 0 0.08rem #cccccc;
  box-shadow: 0 0 0 0.08rem #cccccc;
}

input[type='checkbox']:checked:focus + label:before,
input[type='checkbox']:indeterminate:focus + label:before,
.rvt-checkbox-wrapper input[type='checkbox']:checked:focus ~ label:before,
.rvt-checkbox-wrapper input[type='checkbox']:indeterminate:focus ~ label:before {
  -webkit-box-shadow: 0 0 0 0.08rem #006298, 0 0 0 0.1875rem #ffffff, 0 0 0 0.3125rem #497ba9;
  box-shadow: 0 0 0 0.08rem #006298, 0 0 0 0.1875rem #ffffff, 0 0 0 0.3125rem #497ba9;
}

input[type='checkbox']:disabled + label,
.rvt-checkbox-wrapper input[type='checkbox']:disabled ~ label {
  color: #666666;
  cursor: default;
}

input[type='checkbox']:indeterminate + label::before,
.rvt-checkbox-wrapper input[type='checkbox']:indeterminate ~ label::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xNCw5SDJBMSwxLDAsMCwxLDIsN0gxNGExLDEsMCwwLDEsMCwyWiIvPgo8L3N2Zz4=");
  background-color: #006298;
  -webkit-box-shadow: 0 0 0 0.08rem #006298;
  box-shadow: 0 0 0 0.08rem #006298;
}

input[type='checkbox']:indeterminate:disabled + label::before,
.rvt-checkbox-wrapper input[type='checkbox']:indeterminate:disabled ~ label::before {
  background-color: #dddddd;
  -webkit-box-shadow: 0 0 0 0.08rem #cccccc;
  box-shadow: 0 0 0 0.08rem #cccccc;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-regular.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular") format("svg");
}

@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.iu.edu/fonts/benton-sans-bold.eot");
  src: url("https://fonts.iu.edu/fonts/benton-sans-bold.eot?#iefix") format("embedded-opentype"), url("https://fonts.iu.edu/fonts/benton-sans-bold.woff") format("woff"), url("https://fonts.iu.edu/fonts/benton-sans-bold.ttf") format("truetype"), url("https://fonts.iu.edu/fonts/benton-sans-bold.svg#BentonSansRegular") format("svg");
}

html {
  font-size: 100%;
}

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "BentonSans", "Helvetica Neue", "Helvetica", "sans-serif";
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

strong {
  font-weight: 700;
}

hr {
  border-top: 1px solid #eeeeee;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

code {
  font-family: monospace;
  background-color: #eeeeee;
  display: inline-block;
  padding: .125rem .25rem;
  color: #006298;
  border-radius: 0.25rem;
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}


label {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  background-color: inherit;
  border: 1px solid #666666;
  padding: 0.5rem;
  height: 2.5rem;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type='color']:disabled,
input[type='date']:disabled,
input[type='datetime']:disabled,
input[type='datetime-local']:disabled,
input[type='email']:disabled,
input[type='month']:disabled,
input[type='number']:disabled,
input[type='password']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
input[type='week']:disabled,
input:not([type]):disabled,
textarea:disabled,
select:disabled {
  background-color: #eeeeee;
  cursor: not-allowed;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #006298;
  box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #006298;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.button:focus, .rvt-button:focus, .button--focus,
.button--secondary:focus, .button--secondary-focus,
.button--plain:focus, .button--plain-focus, .button--plain--focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #006298;
  box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.25rem #006298;
}

.button {
  background-color: #006298;
  border: 0.125rem solid #006298;
  border-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  position: relative;
  height: 2.5rem;
  padding: 0 0.75rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.rvt-button {
  background-color: #006298;
  border: 0.125rem solid #006298;
  border-radius: 0.25rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  height: 2.5rem;
  padding: 0 0.75rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.button:hover, .rvt-button:hover, .button--hover {
  background-color: #134a71;
  border-color: #134a71;
  color: #ffffff;
}

.button:active, .rvt-button:active, .button--active {
  background-color: #16324b;
  border-color: #16324b;
}

.button:disabled, .rvt-button:disabled, .button:disabled:hover {
  background-color: #eeeeee;
  color: #666666;
  border-color: #aaaaaa;
  cursor: not-allowed;
}

.button--secondary {
  background-color: transparent;
  color: #006298;
}

.button--secondary:hover, .button--secondary-hover {
  background-color: #dce3ee;
  border-color: #006298;
  color: #16324b;
}

.button--secondary:active, .button--secondary-active {
  background-color: #b8c8dc;
  color: #16324b;
}

.button--plain {
  border-color: transparent;
  background-color: transparent;
  color: #006298;
}

.button--plain:hover, .button--plain-hover {
  background-color: #dce3ee;
  border-color: transparent;
  color: #16324b;
}

.button--plain:active, .button--plain-active {
  background-color: #b8c8dc;
  border-color: transparent;
  color: #16324b;
}

.button--plain:disabled, .button--plain:disabled:hover {
  border-color: #eeeeee;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-group > *:not(:last-child) {
  margin-right: 1rem;
}

ul,
ol {
  margin: 0;
}

ul li,
ol li {
  margin-top: 0.5rem;
}


/* stylelint-enable */
/* Hide only visually, but have it available for
 * screenreaders: h5bp.com/v
 */
.visuallyhidden,
.v-hide,
.sr-only,
.rvt-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the
 * keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.v-hide.focusable:active,
.v-hide.focusable:focus,
.sr-only.focusable:active,
.sr-only.focusable:focus,
.rvt-sr-only.focusable:active,
.rvt-sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

a {
  color: #006298;
}

.icon1 {
  width: 1rem;
  height: 1rem;
}

.icon1-5 {
  width: 1.5rem;
  height: 1.5rem;
}
