html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #333333;
}

svg {
    flex-shrink: 0;
}

.hide {
    display: none !important;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    alignment: center;
}
th, td {
    padding: 5px;
}

.header {
    height: auto;
    position: relative;
    background-color: #eaeaea;
}

.lockup-title {
    position:absolute;
    top: 19px;
    left: 57px;
    font-size: 1.4375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .04rem;
    display: inline-block;
}

.trident {
    margin: 1rem;
    width: 32px;
    -ms-flex-preferred-size: 32px;
    flex-basis: 32px;
    height: 37px;
    background-color: inherit;
    color: inherit;
}

.content {
    overflow: auto;
    height: auto;
    flex: 1 0 auto;
}

.base {
    padding: 2rem 2.5rem 2.5rem;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: auto;
}

.base-title {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.username {
    margin-top: 0.5rem;
}

.guest-email {
    margin: 0.5rem 0 1rem;
}

.guest-email-button {
    margin-top: 1rem;
}

input.id-highlight, input.iu-highlight, input.highlight-warning {
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
    border-color: #f5bb17;
    -webkit-box-shadow: 0 0 0 0.125rem #f5bb17;
    box-shadow: 0 0 0 0.125rem #f5bb17;
}

input.id-highlight:focus, input.iu-highlight:focus, input.highlight-warning:focus {
    border-color: #666666;
    -webkit-box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem #f5bb17;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem #f5bb17;
}

input.at-highlight, input.highlight-info {
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
    border-color: #006298;
    -webkit-box-shadow: 0 0 0 0.125rem #006298;
    box-shadow: 0 0 0 0.125rem #006298;
}

input.at-highlight:focus, input.highlight-info:focus {
    border-color: #666666;
    -webkit-box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem #006298;
    box-shadow: 0 0 0 0.125rem #ffffff, 0 0 0 0.2875rem #006298;
}

.alert {
    background-color: #eeeeee;
    border-left: 0.25rem solid #aaaaaa;
    padding: 1rem;
    position: relative;
}

.alert-title {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
    padding-right: 1.5rem;
}

.alert-message {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    padding-right: 1.5rem;
}

.alert--inline {
    background-color: #eeeeee;
    border-left: 0.25rem solid #aaaaaa;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.alert--inline-message {
    margin-left: 0.5rem;
    color: #666666;
    line-height: 1;
}

.alert--inline-danger {
    background-color: #ffece5;
    border-left: 0.25rem solid #df3603;
    color: #82270d;
}

.alert--inline-danger .alert--inline-message {
    color: #82270d;
}

.alert--input {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.alert--input-base {
    color: #666666;
    line-height: 1;
}

.alert--input-message {
    margin-left: 0.5rem;
    color: #666666;
    line-height: 1;
}

.alert-inline-icon {
    width: 1rem;
    height: 1rem;
}

.info {
    color: #006298;
}

.success {
    color: #008a28;
}

.warning {
    color: #f5bb17;
}

.danger {
    color: #df3603;
}

.passphrase {
    margin-top: 1.5rem;
}

.cta {
    margin-top: 2.5rem;
}

.help {
    margin-top: 2.5rem;
    text-align: center;
}

.help a, .help button {
    font-size: 0.875rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0.875rem;
    padding: 0 0.875rem;
}

.help a:active, .help a:hover, .help a:focus {
    color: #134a71;
    text-decoration: underline;
}

.help svg {
    text-decoration: none !important;
}

.help span, .left-bump {
    margin-left: .25rem;
}

#seeOptions, #create {
    font-weight: normal;
    width: auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.footer a {
    color: #333;
}

#noscript {
    margin-top: 1.5rem;
    margin-bottom: -24rem;
}

.base-duo {
    margin-bottom: 0.5rem;
}

#duo_iframe {
    border-width: 0;
    width: 100%;
    min-width: 288px;
    max-width: 360px;
    height: 380px;
}

#login-button {
    padding-bottom: 1px;
}

/*Tabs for University + Guest */
.lockup-tabs {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .5rem;
}

.tab[aria-selected='true'] {
    border-bottom: 4px solid #006298;
    border-top: none;
    border-left: none;
    border-right: none;
}

.tab:focus:active {
    padding: .5rem 1rem;
}

.tab:focus {
    padding: .5rem .75rem;
    border: 4px solid #134a71;
    outline: none;
}

.tab:hover, .tab:active {
    border-bottom: 4px solid #134a71 !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.tab {
    border: none;
    background-color: transparent;
    padding: .5rem 1rem;
}

[role='tabpanel']:focus {
    box-shadow: inset 0 0 0 0.125rem #006298;
    outline: none;
}

/* Horizontal rule for Guest */
.hr {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    color: #333333;
    z-index: 1;
    overflow: hidden;
    margin: 2rem 0;
    font-size: 1rem;
}

.hr:before, .hr:after {
    width: 50%;
    top: 51%;
    overflow: hidden;
    height: 1px;
    background-color: #c3c3c3;
    content: '\a0';
    position: absolute;
}

.hr:before {
    margin-left: -54%;
    text-align: right;
}

.hr:after {
    margin-left: 4%;
}

.hide-mobile {
    display: none;
}

/* Small view ports and up */
@media screen and (min-width: 30em) {

    html, body {
        background-color: #eaeaea;
        height: auto;
    }

    .centered {
        margin: auto;
        max-width: 840px;
        width: 100%;
        position: inherit;
    }

    .lockup {
        overflow: hidden;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .lockup img {
        margin: 0;
        width: 50px;
    }

    .lockup-iu {
        display: inline-block;
        position: absolute;
        top: 4px;
        font-size: 20px;
    }

    .lockup-title {
        top: 22px;
        left: 58px;
        font-size: 1.625rem;
    }

    .trident {
        min-width: 58px;
        -ms-flex-preferred-size: 58px;
        flex-basis: 58px;
        height: 58px;
        margin: 0;
    }

    .trident-logo {
        width: 50px;
        height: 58px;
    }

    .footer {
        margin-bottom: 4rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .base-title {
        font-size: 1.4375rem;
    }
}

/* Tab width for small mobile devices */
@media only screen and ( max-width: 22rem ) {
    .base {
        padding: 2rem 2rem 2.5rem;
    }

    .tab {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/* Removes padding to allow more width for Duo iframe on smaller devices */
@media only screen and ( max-width: 23.75rem ) {
    .duo {
        padding: 2rem 1rem 2.5rem 1rem;
    }
}

/* Applied top margin for screens with vertical space */
@media only screen and ( min-height: 54rem ) and (min-width: 30em) {
    .header {
        margin-top: 2rem;
    }
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    width: 440px;
}
#place-id {
    width: 250px;
}